.home-container {
  height: 100vh;
  background-color: #F0F0F0;
}

  .home-container div {
    padding-bottom: 7vh;
  }

.center-header {
  font-size: 5em;
}

.linkedin-icon {
  height: 36px;
  width: 36px;
}

@media (max-width: 600px) {
  .center-header {
    font-size: 2em;
  }

  .home-container {
      height: 95vh;
  }
}
