<div fxLayout="row" fxLayoutAlign="center center" class="home-container">
  <div>
    <h1 class="center-header">Lance John Olaf Johnson</h1>
    <mat-divider class="py-2"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <span>
        <img src="/assets/icons8-linkedin-48.svg" class="linkedin-icon" />
        <a href="https://www.linkedin.com/in/lance-jo-johnson/" target="_blank">LinkedIn</a>
      </span>
      <span>
        <img src="/assets/GitHub-Mark-32px.png" class="pr-1" />
        <a href="https://www.github.com/sirlants/" target="_blank">GitHub</a>
      </span>
    </div>
  </div>
</div>
