.home-container {
  height: 100vh;
}

  .home-container div {
    padding-bottom: 7vh;
  }

.center-header {
  font-size: 5em;
}

.linkedin-icon {
  height: 36px;
  width: 36px;
}

.blurred-me {
  background-image: url('/assets/me.JPG');
  height: 1080px;
  width: 1080px;
  border-radius: 30%;
  opacity: .67;
  box-shadow: 0 0 8px 8px white inset;
}

@media (max-width: 768px) {
  .center-header {
    font-size: 2em;
  }
}
