<div fxLayout="row" fxLayoutAlign="center center" class="about-header">
  <h1 class="mb-0">About Me</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayoutGap.lt-sm="0" fxLayout.lt-sm="column" class="about-panel first">
  <div fxFlex="20" fxFlexOffset="10" fxFlexOffset.lt-sm="0" fxFlex.lt-sm="100" class="about-panel-body">
    <h2>Midwest Roots</h2>
    <p class="mb-2">
      Born in Sioux Falls, South Dakota to a big midwest of family of seven, I learned how to carve out my space in the world from a young age.
    </p>
    <p class="mb-2">
      With loving parents and successful siblings to blaze the trail in front of me, I always had big dreams and the means to achieve them.
      I also learned the value of a solid work ethic from a young age, helping with my dad's small truck washing business, becoming independent from my parents upon high school graduation, and later working my way through college.
    </p>
    <p class="mb-0">
      Since as early as I can remember I've loved technology.
      Whether it be blowing on NES cartridges and wondering why that made a difference, to designing banners on our family's first computer and accidentally printing hundreds of pages using an old dot-matrix print,
      the mysteries of the tech sphere have always delighted me.
    </p>
  </div>
  <div fxFlex="40" fxFlex.lt-sm="100" class="image-container">
    <img src="/assets/kid.jpg" class="image" />
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayoutGap.lt-sm="0" fxLayout.lt-sm="column" class="about-panel second">
  <div *ngIf="isMobile" fxFlex="100" class="about-panel-body">
    <h2>Twisting Path</h2>
    <p class="mb-2">
      Despite what many would assume, I was originally in the Education and Human Sciences department at University of Nebraska-Lincoln for History and Spanish.
      After my freshman year I decided that teaching wasn't binary, I could still live out that passion for education through my biggest interest, technology.
    </p>
    <p class="mb-0">
      Despite the fact that I ultimately switched to Computer Science, I think that desire to teach other people about the things I love and influence them in a positive way is something that has been a huge asset to me as a software engineer.
    </p>
  </div>
  <div fxFlex="22" fxFlex.lt-sm="100" class="image-container">
    <img src="/assets/college.jpg" class="image" />
  </div>
  <div *ngIf="!isMobile" fxFlex="20" class="about-panel-body">
    <h2>Passion for Tech</h2>
    <p class="mb-2">
      Despite what many would assume, I was originally in the Education and Human Sciences department at University of Nebraska-Lincoln for History and Spanish.
      After my freshman year I decided that teaching wasn't binary, I could still live out that passion for education through my biggest interest, technology.
    </p>
    <p class="mb-0">
      Despite the fact that I ultimately switched to Computer Science, I think that desire to teach other people about the things I love and influence them in a positive way is something that has been a huge asset to me as a software engineer.
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayoutGap.lt-sm="0" fxLayout.lt-sm="column" class="about-panel third">
  <div fxFlex="20" fxFlexOffset="11" fxFlexOffset.lt-sm="0" fxFlex.lt-sm="100" class="about-panel-body">
    <h2>Teamwork Makes the Dream Work</h2>
    <p class="mb-2">
      Up until becoming an associate member of UNL's prestigious Raikes Design Studio program, coding was something I'd enjoyed but all the pieces hadn't quite fallen into place yet.
      Then I got to experience how incredibly gratifying it was to work on a project for a real company in tandem with 5 other dedicated software developers. The rest is history.
    </p>
    <p class="mb-2">
      Being able to work directly with a company, present our work for critique, always seek to deliver the most impressive and satisfying product we could, this was what it was all about.
    </p>
    <p class="mb-0">
      After 5 years of software development, those same truths hold true.
      Working with product owners, presenting my latest learnings across the development floor, working in tandem with other developers, seeking to write the most extensible, readable, reusable code.
      That is software development to me.
    </p>
  </div>
  <div fxFlex="38" fxFlex.lt-sm="100" class="image-container">
    <img src="/assets/team.jpg" class="image" />
  </div>
</div>
